<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biased App</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Css style -->
    <link rel="stylesheet" href="/style.css">

    <!-- Googel Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">

</head>
<body>

    <a href="/" class="button go-home">Go Home</a>

    <!-- Choose Cvs Section -->

    <form action="/choose-cvs-first" method="POST">

        <section id="main" class="choose-cvs">
            <div class="container">

            
                <!-- Headers -->
                <h1>Our App</h1>
                <hr style="border: 0; background-color: #E6695A; width: 50%; height: 4px; margin: auto; opacity: 80%;">
                <h2> Choose the best 3 fitted applicants! <br> You have only 2 min!</h2>

                <!-- Cvs Cards -->

                <div class="cards">

                    
                    <div class="row">
                        <%data.forEach(applicant => { %>
                        
                            <div class="col-lg-6">
                                <div class="card">

                                    <div class="row">
                                        <div class="col-lg-2">
                                            <img class="card-img" src="/img/<%= applicant.image %>.png" alt="">
                                        </div>

                                        <div class="col-lg-10 card-content-first">

                                            <h2> <%= applicant.name %> </h2>
                                            <p> 
                                                Lives: <%= applicant.live %> <br>
                                                Age: <%= applicant.age %> <br>
                                                Nationality: <%= applicant.nationality %> 
                                            </p>
                                        </div>

                                    </div>
                                    
                                    <div class="row">
                                        
                                        <div class="card-content-secound">
                                            <p>
                                                Experience: <%= applicant.experience %> <br>
                                                Degree: <%= applicant.degree %>

                                            </p>
                                        </div>
                                        <div class="card-content-third">
                                            <p>
                                                <span style="color: #000000; font-size: 27px;">Skills:</span>  <%= applicant.skills %>
                                            </p>
                                        </div>
                                        
                                    </div>
                                
                                
                                </div>   
                                <input type="checkbox" name="<%= applicant.image %>" class="button choose-card-button"> <label class="choose-card-button" for="<%= applicant.image %>"> Choose </label>
                            </div>
                        
                        <% });%>

                    </div>

                </div>
    

                <div class="buttons-div">
                    <p class="chosen-more"> You choosed more than 3 applicants!</p>
                    <button type="submit" class="button first-button"> To the next step </button>
                </div>
            
            
            
            </div>
        </section>

    </form>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Js file -->
    <script src="/index.js"></script>

</body>
</html>
